# Java/Spring Boot
*.class
target/
*.jar

# React
node_modules/
build/
.env

# Flutter
.dart_tool/
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
backend/src/main/resources/application.properties
backend/src/main/resources/application-local.properties
